.table-section {
    font-size: .75rem;

    .table-navigation {

        button,
        p,
        select,
        span {
            font-size: .75rem;
        }

        display: grid;
        grid-template: ". main perPage" 1fr / 1fr 1fr 1fr;

        .main {
            grid-area: main;
            justify-self: center;
        }

        .per-page {
            grid-area: perPage;
            justify-self: end;
        }
    }
}